$('.main-question_answer_div').prepend('<div class="panel panel-default"><div class="panel-heading"><a href="#" class="pull-right"></a> <h4><%= @staus.question%> ?</h4></div><div class="panel-body"><div class="clearfix"></div><%= @staus.answer%></div><hr></div>'); 
$('form#new_question_answer').reset();