<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">  
            <!-- main right col -->
              <div class="column col-sm-12 col-xs-12" id="main">
                  
                  <!-- top nav -->
                  <div class="navbar navbar-blue navbar-static-top">  
                      <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="sr-only">Toggle</span>
                          <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand logo">b</a>
                      </div>
                    
                  </div>
                  <!-- /top nav -->
                  <%= yield %>
              </div>
         
         </div>
      </div>
  </div>    